.trips-statistics-list{
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 0.5em;
    align-items: baseline;
}

.trip-statistics-border{
    width: 160px;
    height: 5px;
    background-color: #3910b4;
}
