.vehicles-section {
    padding: 50px 2%;
    background-color: #242424;
}

.vehicle-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 33px;
    grid-row-gap: 0px;
}

.user-recent-services-table {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    animation: arrive 500ms ease-in-out 0.1s forwards;
}


 .user-recent-services-table .create-button {
    gap: 0.5em;
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    animation: arrive 500ms ease-in-out 0.1s forwards;
} 

.vehicle-container a {
    background-color: rgb(45, 51, 68);
    opacity: 60%;
    padding: 20px;
    border-radius: 50px;
}



.user-recent-trips {
  
    position: sticky;
    top: 0;
    bottom: 50%;
}

.user-recent-services {
    position: sticky;
    top: 0;
}

.user-recent-taxes {
  
    position: sticky;
    top: 0;
}

.user-vehicles {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2em;
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    animation: arrive 500ms ease-in-out 0.2s forwards;

}


.a:hover {
    color: #0088a9;
    background-color: rgb(64, 62, 62);
}