.tax-record-statistics-list{
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 0.5em;
    align-items: baseline;
}

.tax-record-statistics-border{
    width: 160px;
    height: 5px;
    background-color: #1a18a2;
}
