.review-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;

}

.name {
    font-size: 15px;
    margin: 20px 0;
}

.stars {
    margin-bottom: 20px;
}

.description {
    font-size: 13px;
    margin-bottom: 20px;
}



.ad-card-buttons a{
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

