.add-service-record-section {
    padding: 50px 2%;
    background-color: #242424;
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    animation: arrive 500ms ease-in-out 0.2s forwards;
}

.add-service-record-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.3s forwards;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}


body.add-service-record-body,
input,
button {
    font-family: 'Source Sans Pro', sans-serif;
}

.add-service-record-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0em;

    padding: 15px;
    width: 700px;
    min-height: 900px;
    margin: 2% auto 0 auto;
    background-color: rgb(45, 51, 68);
    opacity: 90%;
    border-radius: 10%;
    text-align: center;

}


label {
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 19px;

}


.add-service-record-body .add-service-record-heading {
    text-align: center;

}

.add-service-record-body .add-service-record-heading h2 {
    font-size: 2em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}

.add-service-record-body form .input-group {

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.add-service-record-body form .input-group:last-of-type {
    border-top: none;
}

.add-service-record-body form .input-group span {
    background: transparent;
    min-width: 53px;
    border: none;
}

.add-service-record-body form .input-group span i {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.2);
}

.add-service-record-body form input.form-control {
    text-align: center;
    display: block;
    width: auto;
    height: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border-radius: 0px;
    padding: 10px;
    font-size: 1.6em;
    width: 100%;
    background: transparent;
    color: #d9dfe0;
}

.add-service-record-body form input.form-control:focus {
    border: none;
}

.add-service-record-body form button {
    margin-top: 20px;
    background: rgb(45, 51, 68);
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 4px solid #0088a9;
    width: 250px;
}

.add-service-record-body form a {
    margin-top: 20px;
    text-decoration: none;
    background: rgb(45, 51, 68);
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 4px solid #ab1919;
    width: 250px;
}


.invalid-field {
    color: #ab1919;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 100ms ease-in-out 0.2s forwards;
}

.warning-field{
    color: #d2c732;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 100ms ease-in-out 0.2s forwards;
}


.select-group {
    margin-top: 20px;
    background: rgb(45, 51, 68);
    border: none;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    width: 150px;
}


.add-service-record-body form button:hover {
    background: tint(#2742ae, 4%);
    -webkit-animation: hop 1s;
    animation: hop 1s;
}

.add-service-record-body form a:hover {
    background: tint(#000000, 4%);
    -webkit-animation: hop 1s;
    animation: hop 1s;
}

.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.form-control select {
    padding-bottom: 20px;
}

.float:hover,
.float:focus,
.float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .login {
        width: 600px;
        font-size: 2em;
    }
}

@media only screen and (max-width: 1100px) {
    .login {
        margin-top: 2%;
        width: 600px;
        font-size: 1.7em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .login {
        margin-top: 1%;
        width: 550px;
        font-size: 1.7em;
        min-height: 0;
    }
}