.authenticated-home-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 0px;
    align-self: flex-start;
    width: 100%;
    
}

.user-welcoming{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    transform: translate3d(0, 200px, 0);
    animation: arrive 500ms ease-in-out 0.3s forwards;
}

.user-overview-container {
    grid-area: 1 / 1 / 2 / 2; 
    display:  flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2em;
}

.all-user-statistics-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    opacity: 0;
    transform: translate3d(0, 200px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user-recent-activites{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;  
    gap: 5em;
}
